# Data directory
data/
data/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log 